@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

:root {
  --primary-color: #6102b6;
  --text-color: #2c2c2c;
  --grey-color: #eeeeee;
}

body {
  font-family: var(--main-font);
  background-color: var(--background-color);
  color: var(--text-color);
}

.container {
  max-width: none;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: var(--grey-color);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: var(--text-color);
  border-radius: 4px;

  &:hover { 
    background: #555;
  }
}